<h2 class="well well-default" style="text-align:center">Generar Equipos</h2>

<div style="margin:10px">
    <select class="form-control" ng-model="equiposCtrl.ordenador"
    		ng-options="ordenador for ordenador in equiposCtrl.ordenadores"
            ng-change="equiposCtrl.configurarPartido()">
        <option value="" disabled selected>Seleccione un ordenador</option>
    </select>
</div>
<div style="margin:10px">
    <select class="form-control" ng-model="equiposCtrl.armador"
    		ng-options="armador for armador in equiposCtrl.armadores"
            ng-change="equiposCtrl.configurarPartido()">
        <option value="" disabled selected>Seleccione un armador</option>
    </select>
</div>

<div>
    <button style="margin:10px" type="button" class="btn btn-info"
    		ng-show="equiposCtrl.generarVisible()" ng-click="equiposCtrl.generarEquipos()">Generar Equipos</button>

    <table ng-show="equiposCtrl.partido">
        <td>
            <p style="text-align:center">Equipo A</p>
            <ul style="margin-left:10px" class="list-group">
                <a type="button" class="btn btn-default | list-group-item" style="margin-bottom:5px"
                	ng-repeat="jugador in equiposCtrl.partido.jugadoresPartido | limitTo:5"
                    ng-click="equiposCtrl.seleccionarJugador(jugador)">
				{{jugador.nombre}} ({{jugador.edad}} años)
				</a>
            </ul>
            <!--<listar-jugadores filtros="| limitTo:5"></listar-jugadores>-->
        </td>
        
        <td>
            <p style="text-align:center">Equipo B</p>
            <ul style="margin-left:10px;margin-right:30px" class="list-group">
                <a type="button" class="btn btn-default | list-group-item" style="margin-bottom:5px"
                	ng-repeat="jugador in equiposCtrl.partido.jugadoresPartido | limitTo:-5"
                    ng-click="equiposCtrl.seleccionarJugador(jugador)">
				{{jugador.nombre}} ({{jugador.edad}} años)
				</a>
            </ul>
            <!-- <listar-jugadores filtros="| limitTo:-5"></listar-jugadores> -->
        </td>

        <td>
            <detalle-jugador jugador="equiposCtrl.jugador"></detalle-jugador>
        </td>

    </table>
    <button style="margin:10px" type="button" class="btn btn-success"
            ng-show="equiposCtrl.partido"
            ng-click="equiposCtrl.confirmarPartido()">Confirmar Equipos</button>
</div>