<p>Nombre: {{jc.jugador.nombre}}</p>
<p>Edad: {{jc.jugador.edad}}</p>

<p>Amigos:</p>
<ul>
	<h4><span style="margin-right:5px" class="label label-info"
			ng-repeat="amigo in jc.jugador.amigos">
		{{amigo.nombre}}
	</span></h4>
</ul>

<p>Infracciones:</p>
<ul>
	<h4><span style="margin-right:5px" class="label label-danger"
        	ng-repeat="infraccion in jc.jugador.infracciones">
        {{infraccion.motivo}}
    </span></h4>
</ul>

<p>Calificaciones:</p>
<ul>
	<h4><span style="margin-right:5px" class="label label-warning"
        	ng-repeat="calificacion in jc.jugador.calificaciones">
        {{calificacion.puntaje}}
    </span></h4>
</ul>

<p>Handicap: {{jc.jugador.handicap}}</p>
